#jumbo1{
  text-align: center;
  background-color: lightblue;
  padding-top: 2cm;
  margin-top: 0px;
  margin-bottom: 0px;
}

#jumbo2{
  text-align: center;
  background-color: lightgreen;
  margin-top: 0px;
  margin-bottom: 0px;
}

#h1head{
   font-size: 40px;
}
